@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.poll-container {
   background-color: #eaf5ff;
}

h1,
h2 {
   font-family: "Kanit", sans-serif;
   font-weight: 600;
}

h2 {
   font-size: 30px;
}

.title h1 {
   text-align: center;
   font-size: 48px;
   color: #539be0;
}

.main {
   display: flex;
   justify-content: space-around;
   margin-top: 84px;
   padding: 0 150px 120px 150px;
}

.card {
   width: 340px;
   height: 340px;
   box-shadow: 0 25px 20px rgba(54, 37, 37, 0.2);
   border-radius: 26px;
   background-color: #ffffff;
}

.cta {
   padding: 38px 76px;
}

.card > .rt {
   padding: 42.38px 78.11px;
}

.container-card-1 h2 {
   background-color: #f4a8f1;
   color: #ffffff;
   padding: 31.08px 121.35px 29.34px 128.65px;
   border-bottom-left-radius: 26px;
   border-bottom-right-radius: 26px;
}

.container-card-2 h2 {
   background-color: #6dd7d0;
   color: #ffffff;
   padding: 31.08px 121.35px 29.34px 128.65px;
   border-bottom-left-radius: 26px;
   border-bottom-right-radius: 26px;
}

.container-card-3 h2 {
   background-color: #fce04f;
   color: #ffffff;
   padding: 31.08px 121.35px 29.34px 128.65px;
   border-bottom-left-radius: 26px;
   border-bottom-right-radius: 26px;
}

/* responsive for mobile */
@media (max-width: 586px) {
   .title h1 {
      padding-top: 55px;
      font-size: 37px;
   }

   .main {
      margin-top: 15px;
      padding: 40px 20px 60px;
      position: relative;
      justify-content: space-between;
      overflow-x: auto;
   }

   .cta {
      position: relative;
      height: 148px;
      width: 148px;
      padding: 30px;
      margin: 10px;
   }

   .card > .rt {
      position: relative;
      height: 148px;
      width: 148px;
      padding: 30px;
      margin: 10px;
   }

   .card {
      width: 160px;
      height: 230px;
      display: inline-block;
   }

   .container-card-1 h2 {
      font-size: 18px;
      padding: 16px 55px;
   }

   .container-card-2 h2 {
      font-size: 18px;
      padding: 16px 55px;
   }

   .container-card-3 h2 {
      font-size: 18px;
      padding: 16px 55px;
   }

   .img1,
   .img2 {
      width: 40px;
   }
}

/* responsive for tablet */
@media (min-width: 587px) and (max-width: 1156px) {
   .title h1 {
      font-size: 37px;
   }

   .main {
      margin-top: 15px;
      position: relative;
      overflow-x: auto;
      justify-content: space-between;
      padding: 60px;
   }

   .cta {
      position: relative;
      padding: 10px 12px;
   }

   .card > .rt {
      position: relative;
      padding: 12px 12px 17px 12px;
   }

   .card {
      width: 240px;
      height: 290px;
   }

   .container-card-1 h2 {
      padding: 26px 79px;
   }

   .container-card-2 h2 {
      padding: 26px 79px;
   }

   .container-card-3 h2 {
      padding: 26px 79px;
   }

   .img1,
   .img2 {
      width: 50px;
   }
}
