@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Roboto&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.wbg-abt {
   position: relative;
   background-color: #eaf5ff;
   background-image: url("../img/vector/abt-poll-wave.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 130px 120px 250px;
}

h1,
h2,
button {
   font-family: "Kanit", sans-serif;
   font-weight: 600;
}

p,
li {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.abt-title h1 {
   color: #1e6599;
   font-size: 48px;
   text-align: center;
   margin-bottom: 84px;
}

.abt-main {
   width: 864px;
   height: 630px;
   background-color: #eaf5ff;
   border: none;
   border-radius: 30px;
   padding: 42px 57px;
   margin: auto;
   box-shadow: 0 25px 20px rgba(54, 37, 37, 0.2);
}

.row-title h2 {
   font-size: 30px;
   color: #155a8c;
   margin-bottom: 30px;
}

.row-p p {
   color: #1e6599;
   font-size: 18px;
   text-align: left;
   line-height: 180%;
   margin-bottom: 34px;
}

.row-list {
   display: flex;
}

.col-rowlist {
   width: 30%;
}

.col-rowlist h2 {
   color: #155a8c;
   font-size: 30px;
   margin-bottom: 30px;
}

.col-rowlist li {
   list-style: none;
   font-style: normal;
   font-size: 18px;
   color: #1e6599;
   text-align: left;
   line-height: 32px;
   margin-left: 27px;
}

.col-rowlist li::before {
   content: ".";
   font-weight: bold;
   font-size: 1.5em;
   margin-right: 0.4em;
   position: relative;
   top: -0.123em;
}

.col-rowpic {
   position: relative;
   width: 70%;
}

.col-rowpic img {
   position: absolute;
   top: 120px;
   right: 30px;
}

.abt-links {
   margin-top: 40px;
   display: flex;
   justify-content: center;
}

.abt-links > li {
   list-style: none;
}

.abt-links button {
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 180%;
}

.btn-1 {
   cursor: pointer;
   width: 200px;
   height: 50px;
   background-color: #ff7070;
   color: #ffffff;
   border: none;
   border-radius: 25px;
}

.btn-1:hover {
   background-color: #f55454;
}

.btn-2 {
   cursor: pointer;
   width: 200px;
   height: 50px;
   background-color: #c4c4c4;
   color: #ffffff;
   border: none;
   border-radius: 25px;
   margin-left: 20px;
}

.btn-2:hover {
   background-color: #a09696;
}

/* responsive for mobile */
@media (max-width: 586px) {
   .wbg-abt {
      padding: 140px 0;
   }

   .abt-title h1 {
      font-size: 37px;
      margin-bottom: 30px;
   }

   .abt-main {
      position: relative;
      width: 88vw;
      height: 470px;
      padding: 15px;
      margin: auto;
   }

   .col-rowlist h2,
   .row-title h2 {
      font-size: 20px;
   }

   .row-p p,
   .col-rowlist li {
      font-size: 15px;
   }

   .col-rowlist {
      width: 100%;
   }

   .col-rowpic img {
      top: 60px;
      right: 15px;
      width: 90%;
   }

   .abt-links button {
      font-size: 15px;
      padding: auto;
   }

   .btn-1 {
      width: 35vw;
      height: 40px;
   }

   .btn-2 {
      width: 35vw;
      height: 40px;
   }
}

/* responsive for tablet */
@media (min-width: 587px) and (max-width: 1156px) {
   .wbg-abt {
      padding: 140px 0;
   }

   .abt-title h1 {
      font-size: 37px;
      margin-bottom: 20px;
   }

   .abt-main {
      position: relative;
      width: 88vw;
      height: 500px;
      padding: 30px;
   }

   .col-rowpic {
      position: relative;
   }

   .col-rowpic img {
      position: absolute;
      top: 30px;
   }

   .col-rowlist h2,
   .row-title h2 {
      font-size: 27px;
   }

   .row-p p,
   .col-rowlist li {
      font-size: 17px;
   }
}

@media (min-width: 769px) {
}
