@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav {
   padding: 0px 150px;
   position: fixed;
   z-index: 9999;
   width: 100%;
   box-sizing: border-box;
   background-image: linear-gradient(rgb(179, 215, 251), rgb(180, 216, 251));
   display: flex;
   align-items: center;
}
/* nav.scrolled {
   background-image: #c4c4c4;
} */

li,
a,
button {
   font-family: "Kanit", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   text-decoration: none;
   color: #616161;
   cursor: pointer;
}

/* li:hover,
a:hover,
button:hover {
   color: #1d1515;
} */

.router-link-active {
   color: #1e6599;
   font-weight: 500;
}

.brand {
   margin-right: 32px;
}

section {
   width: 70%;
}

section ul {
   display: flex;
   list-style: none;
}

section ul li {
   margin-right: 32px;
}

.nav-reg {
   position: fixed;
   top: 15px;
   right: 150px;
   cursor: pointer;
}

.profilepic {
   position: relative;
   display: flex;
   align-items: center;
   gap: 10px;
}

.default-profile,
.profile-set {
   border-radius: 30px;
   width: 48px;
   height: 50px;
   object-fit: cover;
}

.dropdown {
   top: 60px;
   right: 4px;
   position: absolute;
   background-color: #ffffff;
   width: 153px;
   height: 142px;
   box-shadow: 6px 8px 10px 5px rgba(54, 37, 37, 0.2);
   transform: translateY(-20%);
   transition: all 0.3s;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   visibility: hidden;
   opacity: 0;
}

.dropdown::before {
   content: "";
   top: -5px;
   right: 35px;
   width: 20px;
   height: 20px;
   position: absolute;
   background: #bde0ff;
   transform: rotate(45deg);
}

.nav-reg:hover .dropdown {
   transform: translateY(10%);
   visibility: visible;
   opacity: 1;
}

.arrow {
   top: 6px;
   position: relative;
   display: flex;
   height: 10px;
   justify-content: space-between;
}

.arrow span {
   display: block;
   width: 10px;
   height: 2px;
   background-color: #3976af;
   border-radius: 3px;
   transition: all 0.4s;
}

.arrow .bar1 {
   transform-origin: bottom right;
   transform: rotate(40deg);
}

.arrow .bar2 {
   transform-origin: bottom left;
   transform: rotate(-40deg);
}

.nav-reg:hover .bar1 {
   transform-origin: top right;
   transform: rotate(-37deg);
}

.nav-reg:hover .bar2 {
   transform-origin: top left;
   transform: rotate(37deg);
}

.dropdown ul {
   list-style: none;
   align-items: center;
   justify-content: space-around;
}

.dropdown ul li {
   background: #bde0ff;
   padding: 10px;
   margin-bottom: 1px;
}

#out {
   color: red;
}

.logout {
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

/* .nav-reg li {
   width: 70px;
}

.nav-reg button {
   font-size: 15px;
   background-color: #539be0;
   border: none;
   border-radius: 25px;
   color: #ffff;
   width: 100px;
   height: 40px;
   padding: 4px 19px;
}
.nav-reg button:hover {
   background-color: #3976af;
} */

/* hamburger icon */
.nav-toggle {
   position: relative;
   display: none;
   flex-direction: column;
   height: 15px;
   justify-content: space-between;
}

.nav-toggle input {
   position: absolute;
   width: 40px;
   height: 28px;
   opacity: 0.8;
   top: -2px;
   left: -6px;
   opacity: 0;
   z-index: 2;
   cursor: pointer;
}

.nav-toggle span {
   display: flex;
   width: 20px;
   height: 3px;
   background-color: #3976af;
   border-radius: 4px;
   transition: all 0.5s;
}

/* animation icon */
.nav-toggle span:nth-child(2) {
   transform-origin: 0 0;
}

.nav-toggle span:nth-child(4) {
   transform-origin: 0 100%;
}

.nav-toggle input:checked ~ span:nth-child(2) {
   transform: rotate(45deg) translate(-1px, -0.3px);
   background-color: #78798a;
}

.nav-toggle input:checked ~ span:nth-child(4) {
   transform: rotate(-45deg) translate(-1px, 0);
   background-color: #78798a;
}

.nav-toggle input:checked ~ span:nth-child(3) {
   transform: scale(0);
}

/* responsive for mobile */
@media screen and (max-width: 586px) {
   nav ul li a {
      color: #3976af;
      font-size: 14px;
   }

   nav {
      background-image: linear-gradient(rgb(179, 215, 251), rgb(185, 219, 252));
   }

   .nav-toggle {
      position: absolute;
      top: 20px;
      left: 18px;
      display: flex;
   }

   section ul {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 80%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-image: linear-gradient(rgb(179, 215, 251), rgb(180, 216, 251));
      z-index: -1;
      transform: translateX(-100%);
      transition: all 1s;
   }
   section ul.slide {
      transform: translateX(0%);
   }

   .brand {
      order: 2;

      margin: 0 80px;
   }
   .brand img {
      top: 5px;
      width: 100px;
   }

   .nav-reg {
      width: 90px;
      padding-right: 8px;
      order: 3;
      position: absolute;
      right: 0px;
      top: 15px;
      display: flex;
   }

   .nav-reg .signin {
      margin-right: 2px;
   }

   .nav-reg span {
      font-size: 10px;
   }

   .nav-reg button {
      padding: 0;
      font-size: 10px;
      width: 50px;
      height: 20px;
   }
}

/* responsive for tablet */
@media (min-width: 587px) and (max-width: 1156px) {
   li a,
   span,
   button {
      font-size: 12px;
   }

   section ul li {
      margin-right: 12px;
   }

   nav {
      background-image: linear-gradient(rgb(179, 215, 251), rgb(186, 220, 253));
      padding: 0 20px;
   }

   .nav-reg .signin {
      width: 45px;
   }

   .nav-reg button {
      padding: 0;
      width: 60px;
      height: 20px;
   }

   .brand img {
      width: 120px;
   }
}

/* responsive for desktop */
@media (min-width: 769px) {
}
